{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/card.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/searchBar.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/pills.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/pokedex.js') }}"></script>
    <script src="{{ asset('build/js/pills.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row my-3 pt-3 justify-content-center">
        <div class="col-8 pt-3">
            <h1 class="text-center">Mon pokédex</h1>
            <hr class="col-6">
            <div class="searchBar shadow p-3 mx-auto col-md-8 mt-4">
                <h2 class="text-center">Rechercher un pokémon</h2>
                <div class="col-8 offset-2">
                    <hr>
                </div>
                {{ form_start(form) }}
                <div class="form-inline justify-content-center pb-1">
                    <div class="col-12 text-center pb-1">Rechercher sur le champ :</div>
                    <div class="col-12">
                        {{ form_widget(form.searchBy, {'attr': {'class': 'form-inline justify-content-center pb-2'}}) }}
                    </div>
                    {{ form_row(form.toSearch) }}
                    <button type="submit" id="search" title="lancer la recherche" class="btn btn-danger ml-1">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
            <hr class="col-6">
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <ul class="nav nav-pills justify-content-center" id="pokemonTab" role="tablist">
            <li class="mr-md-5 mr-1 mb-2">
                <a class="btn btn-primary nav-link active" id="all-tab" data-toggle="tab"
                   href="#all" role="tab" aria-controls="all" aria-selected="true">Tous</a>
            </li>
            <li class="mr-md-5 mr-1">
                <a class="btn btn-primary nav-link" id="owned-tab" data-toggle="tab"
                   href="#owned" role="tab" aria-controls="owned" aria-selected="false">Possédés</a>
            </li>
            <li class="mr-md-5 mr-1">
                <a class="btn btn-primary nav-link" id="not-owned-tab" data-toggle="tab"
                   href="#not-owned" role="tab" aria-controls="not-owned" aria-selected="false">Non possédés</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
            <div class="row">
                {% include 'pokemon/pokemons.html.twig' with {'pill': 'all'} %}
            </div>
        </div>
        <div class="tab-pane fade" id="owned" role="tabpanel" aria-labelledby="owned-tab">
            <div class="row">
                {%
                    include 'pokemon/pokemons.html.twig' with {
                        'nbPokemons': nbPokemonsUser, 'pokemons': app.user.pokemons,
                        'pill': 'owned'
                    }
                %}
            </div>
        </div>
        <div class="tab-pane fade" id="not-owned" role="tabpanel" aria-labelledby="not-owned-tab">
            <div class="row">
                {% include 'pokemon/pokemons.html.twig' with {
                    'nbPokemons': nbPokemonsNotOwned, 'pokemons': pokemonsNotOwned,
                    'pill': 'not-owned'
                } %}
            </div>
        </div>
    </div>
{% endblock %}