{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/card.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/searchBar.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/pagination.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/pokedex.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row my-3 py-3 justify-content-center">
        <div class="col-8 py-3">
            <h1 class="text-center">Mon pokédex</h1>
            <hr class="col-6">
            <div class="searchBar shadow p-3 mx-auto col-md-8 mt-4">
                <h2 class="text-center">Rechercher un pokémon</h2>
                <div class="col-8 offset-2">
                    <hr>
                </div>
                {{ form_start(form) }}
                <div class="form-inline justify-content-center pb-1">
                    <div class="col-12 text-center pb-1">Rechercher sur le champ :</div>
                    <div class="col-12">
                        {{ form_widget(form.searchBy, {'attr': {'class': 'form-inline justify-content-center pb-2'}}) }}
                    </div>
                    {{ form_row(form.toSearch) }}
                    <button type="submit" id="search" title="lancer la recherche" class="btn btn-danger ml-1">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
            <hr class="col-6">
        </div>
    </div>
    <div class="row">
        {{ include('pokemon/pokemons.html.twig') }}
    </div>
{% endblock %}