{% if pokemons is not empty %}
    {% for pokemon in pokemons %}
        <div class="col-xl-3 col-md-6 offset-md-0 offset-1 col-lg-4">
            <div class="card mr-3 mb-4">
                <a href="{{ path('pokemon_show', { 'id': pokemon.id })}}">
                    <div class="overlay">
                        <img class="card-img-top image"
                             src="{{ pokemon.image }}"
                             alt="">
                        <span class="text-description p-1">
                            <p>HP : {{ pokemon.pv }}<br>
                            Attaque : {{ pokemon.attack }}<br>
                            Défense : {{ pokemon.speed }}<br>
                            Vitesse : {{ pokemon.defense }}<br>
                            Type 1 : {{ pokemon.type1 }}<br>
                            {% if pokemon.type2 %}
                            Type 2 : {{ pokemon.type2 }}
                            {% endif %}
                            </p>
                        </span>
                    </div>
                </a>
                <div class="card-body">
                    <div class="card-title text-center">
                        <h2 class="mb-3">
                            {{ pokemon.name }}
                        </h2>
                        {%  if pokemon in app.user.pokemons %}
                            <a class="btn btn-danger" href="{{ path('pokemon_remove', {'pokemon': pokemon.id}) }}">Retirer</a>
                            <span class="owned">
                                <img class="img-pokeball" src="{{ asset('images/pokeball.png') }}" alt="">
                            </span>
                        {% else %}
                            <a class="btn btn-success" href="{{ path('pokemon_add', {'pokemon': pokemon.id}) }}">Ajouter</a>
                            <span class="owned">
                                <img class="img-pokeball" src="{{ asset('images/pokeball_grey.png') }}" alt="">
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="text-center col-12">Aucune annonce n'a été trouvée</p>
{% endif %}
