{% extends 'base.html.twig' %}

{% block title %}Ad{% endblock %}

{% block body %}
    <div class="row">
        <div class="shadow my-5 py-5 justify-content-center col-12">
            <h1 class="text-center">{{ pokemon.name }}</h1>
            <div class="row">
                <div class="col-4 offset-2">
                    <img class="pokemon" src="{{ pokemon.image }}" alt="">
                </div>
                <div class="col-4">
                    <h2>Stats</h2>
                    <p><img class="img-stats" src="https://png.icons8.com/cotton/50/000000/hearts.png" alt="HP">: {{ pokemon.pv }}</p>
                    <p><img class="img-stats" src="https://png.icons8.com/color/50/000000/sword.png" alt="Attack">: {{ pokemon.attack}}</p>
                    <p><img class="img-stats" src="https://png.icons8.com/color/50/000000/shield.png" alt="Defense">: {{ pokemon.defense }}</p>
                    <p><img class="img-stats" src="https://png.icons8.com/dusk/50/000000/speed.png" alt="speed">: {{ pokemon.speed }}</p>
                </div>
                <div class="col-12">
                    <p class="text-center">
                        <img class="img-stats" src="{{ asset('images/types/' ~ pokemon.imageType1 ) }}" alt="Type {{ pokemon.type1 }}">
                        {% if pokemon.type2 %}
                            <img class="img-stats" src="{{ asset('images/types/' ~ pokemon.imageType2 ) }}" alt="Type2 {{ pokemon.type2 }}">
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col">
                <a href="{{ path('pokemon_index') }}" class="btn btn-dark"><i class="fas fa-chevron-left"></i> Retour</a>
                {% if app.user == pokemon.name %}
                    <div class="float-right">
                        <a href="{{ path('pokemon_edit', {'id': pokemon.id}) }}" class="btn btn-primary d-inline-block mr-5">
                            Modifier <i class="fas fa-pen-fancy"></i>
                        </a>
                        {{ include('pokemon/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}