<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LeCoinDesDealers{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('images/favico.png') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">LeCoinDesDealers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ad_index') }}">Voir toutes les annonces</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_registration') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ad_new') }}" class="nav-link">Créer une annonce</a>
                    </li>
                    <li class="nav-item">
                        {#<a href="{{ path('user_account', {'user': app.request.session.get('user').id }) }}"#}
                           {#class="nav-link">#}
                            {#Mon compte#}
                        {#</a>#}
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('security_logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}
        <div class="container">
            <div class="row">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} mt-3 col-6 offset-3 text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
