{% extends 'base.html.twig' %}

{% block title %}Ad{% endblock %}

{% block body %}
    <div class="row">
        <div class="shadow my-5 py-5 justify-content-center col-12">
            <h1 class="text-center">Annonce {{ ad.title }}</h1>
            <h2 class="text-center">L'utilisateur {{ ad.creator.username }} {{ ad.type.label }}</h2>
            <h3 class="text-center">{{ ad.name }}</h3>
            <div class="px-3">Créée le : {{ ad.createdAt|date("m/d/Y à H:m") }}</div>
            <div class="px-3">Dernière mise à jour : {{ ad.updatedAt|date("m/d/Y à H:m") }}</div>
            {% if ad.type.personalId == 3 %}
                <div class="px-3">Échange contre "{{ ad.exchange }}" ou vend {{ ad.price }}€</div>
            {% elseif ad.type.personalId == 2 %}
                <div class="px-3">Vend {{ ad.price }}€</div>
            {% elseif ad.type.personalId == 1 %}
                <div class="px-3">Échange contre "{{ ad.exchange }}"</div>
            {% endif %}
            <div class="row my-2 px-3">
                <div class="col-5">
                    <img class="img-fluid" src="{{ asset('images/upload/' ~ ad.image) }}" alt="">
                </div>
                <div class="col-6">
                    <p>Description :</p>
                    <p>{{ ad.description }}</p>
                </div>
            </div>
            <div class="col">
                <a href="{{ path('ad_index') }}" class="btn btn-dark"><i class="fas fa-chevron-left"></i> Retour</a>
                {% if app.user == ad.creator %}
                    <div class="float-right">
                        <a href="{{ path('ad_edit', {'id': ad.id}) }}" class="btn btn-primary d-inline-block mr-5">
                            Modifier <i class="fas fa-pen-fancy"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}